<% @items.each do |item| %>
    <% if item.status == "selling" %>
        <h2>@<%= item.user.username %></h2>
        <h3><%= item.name %></h3>
        <p><%= item.description %></p>
        <p>$<%= item.cost %></p><br>
    <% end %>
    

<% end %>