<body style="background-image: url('http://fullhdwall.com/wp-content/uploads/2018/10/Free-Cool-Background.jpg');"> 
<p><a href="/login"> login </a></p>
<p>Not a member? <a href="/signup"> signup </a></p>
</body>