<body style="background-image: url('http://fullhdwall.com/wp-content/uploads/2018/10/Free-Cool-Background.jpg');"> 
    <nav>
        <a href="/items"><p>home</p></a>
        <a href="/profile"><p>profile</p></a>
        <a href="/logout"><p>logout</p></a>
    </nav>
    <%=yield %>